<!-- app/views/datasets/index.html.erb -->

<h1>Datasets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datasets.each do |dataset| %>
      <tr>
        <td><%= dataset.nome %></td>
        <td><%= dataset.descricao %></td>
        <td>
          <% if dataset.arquivo.attached? %>
            <%= link_to dataset.arquivo.filename, dataset.arquivo.url %>
          <% else %>
            No file attached
          <% end %>
        </td>
        <td><%= link_to 'Show', dataset_path(dataset) %></td>
        <td><%= link_to 'Edit', edit_dataset_path(dataset) %></td>
        <td><%= link_to 'Destroy', dataset, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dataset', new_dataset_path %>